$font-family_title: 'Righteous', cursive;
$font-family_body: 'Montserrat', sans-serif;

// colors
$color-lila: #FF2CDF;
$color-blue: #0014FF;
$color-green: #00FF5B;
$color-yellow: #FFE53B;
$color-red: #FF2525;
$color-neon: #00E1ED;