@import '../../../sass/variables';

.results-container__content{
  width: 97%;
  color: white;
  padding: 0;
  margin: 0;

  hr{
    border-color: $color-neon;
    opacity: 0.4;
  }
}

a{
 text-decoration: none; 
 p{
  color: white;
 }
}